<a href="https://colab.research.google.com/github/vineelabaisa9119/2216119_AIML_BootCamp/blob/main/Assignment2AN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Write a python program that print respective grades of student: Grade – Outstanding for marks>=90

#Grade A+ for marks >=80, <90

#Grade A for marks >=70, <80

#Grade B for marks >=60 and <70

#<60 Grade 

m=int(input("enter marks: "))
if m>=90:
  print("OUTSTANDING")
elif m>=80 and m<90:
  print("A+")
elif m>=70 and m<80:
  print("A")
elif m>=60 and m<70:
  print("B")
else:
  print("C")

enter marks: 45
C

In [2]:
#use defined functions
def greet(name):
  '''this function greets a person'''
  print("Hello,"+name+"Good morning")
greet("vinny")

Hello,vinnyGood morning

In [3]:
#default
def A(a,b=1,c=2):
  return a+b+c
print(A(0))
print(A(3))
print(A(4,4,4))

3
6
12

In [4]:
#KEYWORDS
print("KEYWORDS")
def A(a,b=1,c=2):
  return a+b+c
print(A(a=2,b=3))
print(A(c=3,a=1))

KEYWORDS
7
5

In [5]:
#POSITIONAL
def add(a,b,c):
  return a+b+c
print(add(10,20,30))
print(add(10,b=20,c=30))

60
60

In [ ]:
#arbitrary keywords
def key_arg(**kwargs):
  return kwargs
my_dict=key_arg(apples=10,cherry=20,grapes=30)
print(my_dict['apples'])
print(my_dict)

10
{'apples': 10, 'cherry': 20, 'grapes': 30}

In [ ]:
#arbitrary positional
def add_num(*n):
  print(n)
  print(sum(n))

add_num(5,11)

(5, 11)
16

In [ ]:
#higher order functions
def shout(text):
  return text.upper()

def whisper(text):
  return text.lower()

def explain(func):
  greet=func("hi,i am higher order function")
  print(greet)

explain(shout)
explain(whisper)

HI,I AM HIGHER ORDER FUNCTION
hi,i am higher order function

In [ ]:
#lambda

def incr(x):
  x=x+1
  return x
print(incr(4))

print((lambda x:x+1)(4))

res=lambda x:x+1
print(res(4))

5
5
5

In [ ]:
print((lambda x,y:x**y)(2,2))
print((lambda x,y:x+y)(2,3))

res=lambda x,y:x+y
print(res(2,3))

4
5
5

In [ ]:
li=[1,2,3,4,5]
#res=lambda x:x+2
#print(res(li))

In [ ]:
def inc(num):
  return num+2
res_list=list(map(inc,li))
print(res_list)

res_listl=list(map(lambda x:x+2,li))
print(res_list)

print(list(map(lambda x:x+2,li)))

[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7]

In [ ]:
def eor(num):
  if num%2==0:
    return "the number {} is even".format(num)
  else:
    return "the number {} is odd".format(num)
eor(20)

'the number 20 is even'

In [ ]:
l=[1,2,3,4,5,6,7,8,9,10]
list(map(eor,l))

['the number 1 is odd',
 'the number 2 is even',
 'the number 3 is odd',
 'the number 4 is even',
 'the number 5 is odd',
 'the number 6 is even',
 'the number 7 is odd',
 'the number 8 is even',
 'the number 9 is odd',
 'the number 10 is even']

In [ ]:
li=['apple','banana','grapes']
r=list(map(lambda x:x.capitalize(),li))
print(r)

['Apple', 'Banana', 'Grapes']

In [ ]:
#filter
def odd_num(n):
  if n%2!=0:
    return n
my_list=[9,26,35,-2,50]
print(list(filter(odd_num,my_list)))

my_list=[18,94,33,16,99,22,56,107,34]
temp=list(filter(lambda x:x%2==0,my_list))
print(temp)

[9, 35]
[18, 94, 16, 22, 56, 34]

In [ ]:
#MODULES
import os
os.mkdir("hi")
os.chdir("hi")
os.getcwd()
os.listdir()
os.rmdir()

FileExistsError: ignored

In [ ]:
#math modules
import math as m
print(m.pi)
print(m.e)
print(m.sqrt(4))
print(m.factorial(5))
print(m.pow(2,2))
print(m.floor(1.4))
print(m.tan(5))
print(m.log(2))

3.141592653589793
2.718281828459045
2.0
120
4.0
1
-3.380515006246586
0.6931471805599453

In [ ]:
#sys m0dule
import sys
print(sys.path)
print(sys.version)
print(sys.maxsize)

['', '/content', '/env/python', '/usr/lib/python37.zip', '/usr/lib/python3.7', '/usr/lib/python3.7/lib-dynload', '/usr/local/lib/python3.7/dist-packages', '/usr/lib/python3/dist-packages', '/usr/local/lib/python3.7/dist-packages/IPython/extensions', '/root/.ipython']
3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]
9223372036854775807

In [ ]:
#statistics module
import statistics as st
print(st.mean([21,29,34]))
print(st.median([2,3,4,5,6]))
print(st.mode([2,1,5,6,1,1]))

28
4
1

In [ ]:
#time module
import time
print(time.time())
print(time.localtime())
print(time.time())
print(time.time())

In [ ]:
#random module
import random
print(random.randrange(1,50))#1to49
print(random.randint(1,100))#1to100
print(random.random())

46
87
0.8392893211081727

In [ ]:
import random
g_num=random.randint(0,5)
g2_num=int(input(""))

Write a python program that remove items that are multiples of 5 from list: li=[1,2,5,6,7,10,15,25,65,78,90] o/p: [1,2,6,7,78]

In [ ]:
 li=[1,2,5,6,7,10,15,25,65,78,90]
 l2=[]
 for i in li:
   if i%5!=0:
     l2.append(i)
print(l2)

[1, 2, 6, 7, 78]

In [ ]:
li=[1,2,5,6,7,10,15,25,65,78,90]
res=list(filter(lambda x:x%5!=0,li)) 
print(res)

[1, 2, 6, 7, 78]

Write a python program that generates desired output from fruits list. Filter out the fruits names that don’t start with ‘A’ Fruit=[“Apple”,”Banana”,”Pear”,”Avacado”,”Orange”,”Amla”] Output: [“Apple”,”Avacado”,”Amla”]

In [ ]:
 Fruit=['Apple','Banana','Pear','Avacado','Orange','Amla']
 l=[]
 for i in Fruit:
   if i.startswith('A'):
     l.append(i)
print(l)

['Apple', 'Avacado', 'Amla']

In [ ]:
fruit=["Apple","Banana","Pear","Avacado","Orange","Amla"] 
res=list(filter(lambda x:x.startswith('A'),fruit)) 
print(res)

['Apple', 'Avacado', 'Amla']

Mssg=”Welcome to gradstellar bootcamp” X=”number of occurrences of ‘o’ in mssg” Y=”number of occurrences of ‘e’ in mssg” Compute (X+Y)2

In [ ]:
#Mssg=”Welcome to gradstellar bootcamp” 
#X=”number of occurrences of ‘o’ in mssg”
#Y=”number of occurrences of ‘e’ in mssg” 
#Compute (X+Y)2

mssg='Welcome to gradstellar bootcamp'
x=mssg.count('0')
y=mssg.count('e')
print(x,y)
print((x+y)**2)

0 3
9

Write python program that filters a list by removing the elements that not start with vowel. I/P: [‘apple’,’orange’,’grapes’,’ball’,’bat’,’umbrella’] O/P: [‘apple’,’orange’,’umbrella’]

In [ ]:
s=['apple','orange','grapes','ball','bat','umbrella']
res=list(filter(lambda x:x[0] in ['a','e','i','o','u'],s))
print(res)

['apple', 'orange', 'umbrella']

Write a python program that displays unique element in a given list using function Li=[56,78,32,45,45,45,19,20]

O/P: [56,78,32,45,19,20]

In [6]:
Li=[56,78,32,45,45,45,19,20]
print(set(Li))

{32, 45, 78, 19, 20, 56}