<a href="https://colab.research.google.com/github/vineelabaisa9119/2216119_AIML_BootCamp/blob/main/Assignment2FN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#if statement
var=100
if var>0:
  print("true")
  print(var)

  var1=0
  if var1>0:
     print("True")
  print(var1)

true
100
0

In [ ]:
#if....else statement
var2=-1
if var2>0:
  print("True")
  print(var2)
else:
     print("False")
     print(var2)

False
-1

In [1]:
#nested if statements
#bus tickets
print("NESTED IF")
print("BUS TICKET")
age=int(input("enter age: "))
if age>12 and age<=18:
  if age<15:
    print("Quarter ticket")
  elif age==15:
    print("Quarter ticket+discount")
  else:
    print("Half ticket")
elif age>=19 and age<=60:
  print("Full Ticket")
elif age>60:
  print("Full Ticket + discount")
else:
  print("no ticket")

NESTED IF
BUS TICKET
enter age: 36
Full Ticket

In [ ]:
#for loop
number=[6,5,3,8,4,2,5,4,11]
sum=0
for val in number:
  sum=sum+val
print("the sum is",sum)

print("\n")

for i in range(1,11):
  print(i)

  print("\n")

  for i in range(1,11,2):
    print(i)

    print("\n")

x=[2,3,4,5,6,7,8]
y=[]
for a in x:
  if a%2==0:
     y.append(a)
print(y)

print("\n")

#using statements in for loop
digits=[0,1,5]
for i in digits:
  print(i)
else:
  print("no items left")

  print("\n")

  for l in "python":
    print("current letter:",1)

  print("\n")

#iteration by sequence indexing
fruit=['apple','mango','cherry']
for index in range(len(fruit)):
  print('current fruit:',fruit[index])

the sum is 48


1


1


3


5


7


9


2


1


3


5


7


9


3


1


3


5


7


9


4


1


3


5


7


9


5


1


3


5


7


9


6


1


3


5


7


9


7


1


3


5


7


9


8


1


3


5


7


9


9


1


3


5


7


9


10


1


3


5


7


9


[2, 4, 6, 8]


0
1
5
no items left


current letter: 1
current letter: 1
current letter: 1
current letter: 1
current letter: 1
current letter: 1


current fruit: apple
current fruit: mango
current fruit: cherry

In [ ]:
#while
count=0
while(count<11):
  print('the count is',count)
  count=count+1

count=0
while(count<5):
  print(count,"is less than 5")
  count=count+1
else:
  print(count,"is not less than 5")

the count is 0
the count is 1
the count is 2
the count is 3
the count is 4
the count is 5
the count is 6
the count is 7
the count is 8
the count is 9
the count is 10
0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
5 is not less than 5

In [ ]:
#nested loops

X=[[12,7,3],
   [4,5,6],
   [7,8,9]]

Y=[[5,8,1],[1,1,0],[5,3,7]]

res=[[0,0,0],[0,0,0],[0,0,0]]

for i in range(len(X)):
  for j in range(len(X[0])):
    res[i][j]=X[i][j]+Y[i][j]
for  r in res:
  print(r)

print("\n")

X=[[12,7,3],
   [4,5,6],
   [7,8,9]]

Y=[[5,8,1],[1,1,0],[5,3,7]]

res=[[0,0,0],[0,0,0],[0,0,0]]

for i in range(len(X)):
  for j in range(len(X[0])):
    res[i][j]=X[i][j]*Y[i][j]
for  r in res:
  print(r)

print("\n")

X=[[12,7,3],
   [4,5,6],
   [7,8,9]]

Y=[[5,8,1],[1,1,0],[5,3,7]]

res=[[0,0,0],[0,0,0],[0,0,0]]

for i in range(len(X)):
  for j in range(len(X[0])):
    res[i][j]=X[i][j]-Y[i][j]
for  r in res:
  print(r)

[17, 15, 4]
[5, 6, 6]
[12, 11, 16]


[60, 56, 3]
[4, 5, 0]
[35, 24, 63]


[7, -1, 2]
[3, 4, 6]
[2, 5, 2]

In [ ]:
num=int(input("ENTER TILL WHICH TABLE YOU WANT TO PRINT"))
i=1
while(i<num):
  print(f"TABLE {i}") #rawstring
  j=1
  while(j<10):
    print(f"{i}*{j}={i*j}")
    j=j+1
  print("__________________________________")
  i=i+1

ENTER TILL WHICH TABLE YOU WANT TO PRINT10
TABLE 1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
__________________________________
TABLE 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
__________________________________
TABLE 3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
__________________________________
TABLE 4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
__________________________________
TABLE 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
__________________________________
TABLE 6
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
__________________________________
TABLE 7
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
__________________________________
TABLE 8
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
__________________________________
TABLE 9
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
__________________________________

In [ ]:
#control statements
#break

for l in 'python':
  if l == 'h':
    break
  print("current letter:",l) 

  print("\n")

intl=10
while(intl>0):
  print("current letter:",intl)
  intl=intl-1
  if intl==5:
   continue

current letter: p


current letter: y


current letter: t


current letter: 10
current letter: 9
current letter: 8
current letter: 7
current letter: 6
current letter: 5
current letter: 4
current letter: 3
current letter: 2
current letter: 1

In [ ]:
#palindrome

str1=input("enter a string: ")
str2=str1[::-1]
if(str1==str2):
  print("palindrome")
else:
  print("not")

enter a string: winiw
palindrome

In [ ]:
min = int(input("Enter the Min Value : "))
max = int(input("Enter the Max Value : "))

print("Palindrome Numbers between %d and %d are : " %(min, max))
for num in range(min, max + 1):
    temp = num
    reverse = 0
    
    while(temp > 0):
        Reminder = temp % 10
        reverse = (reverse * 10) + Reminder
        temp = temp //10

    if(num == reverse):
        print("%d " %num, end = '  ')

Enter the Min Value : 1
Enter the Max Value : 300
Palindrome Numbers between 1 and 300 are :
1   2   3   4   5   6   7   8   9   11   22   33   44   55   66   77   88   99   101   111   121   131   141   151   161   171   181   191   202   212   222   232   242   252   262   272   282   292

In [ ]:
#even

l=[1,2,3,4,5,6,7,8]
for i in range(len(l)):
  if(l[i]%2==0):
    print(l[i])
print("\n")
  
  
l=[1,2,3,4,5,6,7,8]
even=[]
for i in l:
  if(i%2==0):
    even.append(i)
print(even)

2
4
6
8


[2, 4, 6, 8]

Write a python program that generates desired output i.e, from countries list select out the country names that contain string “and” Countries_list=[“Finland”,”Germany”,”Sweden”,”Ireland”,”Turkey”] Output: [“Finland”,”Ireland”]

In [ ]:
countries_list=['Finland','Germany','Sweden','Ireland','Turkey']
l=[]
for i in countries_list:
  if("and"in i):
    l.append(i)
print(l)

['Finland', 'Ireland']

In [ ]:
#Create a list with name state list with 5 elements State_list = [“Delhi”,”Telangana”,”Goa”,”AP”,”Kerala”]
#Write a python program that extract first and last characters of each item and print in desired format. 
#Input: [“Delhi”,”Telangana”,”Goa”,”AP”,”Kerala”] Output: dItAgAaOkA
 

state_list=['Delhi','Telangana','Goa','AP','Kerala']
l=[]
for i in state_list:
  l.append(i[0])
  l.append(i[len(i)-1])
print(l)
dtr="".join(l)
#print(dtr)
str1=dtr.swapcase()
print(str1)

['D', 'i', 'T', 'a', 'G', 'a', 'A', 'P', 'K', 'a']
dItAgAapkA