<a href="https://colab.research.google.com/github/vineelabaisa9119/2216119_AIML_BootCamp/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Implement the methods of String with examples

In [ ]:
#STRINGS
str="Vaishnavi"

#indexing
print("\\INDEXING")
print(str[0])
print(str[-1])
print("\n")

#slicing
print("\\SLICING")
print(str[:])#total
print(str[1:])
print(str[:4])
print(str[-5:-1])
print(str[0:8:2])
print("\n")

#reverse string
print("\\REV STRING")
print(str[::-1])
print("\n")

#string operations
print("\\STRING OPERATIONS")
str1="super"
str2="woman"

str3=str1+str2
print(str3)
str4=str1*2
print(str4)
print("\n")

#string methods
print("\\STRING METHODS")
my_str="Vineela Baisa"
print(my_str.upper())
print(my_str.lower())
print(my_str.swapcase())
print(my_str.upper())
print(my_str.title())
print("\n")

print(  "ORIGINAL")
str01="gradStellar is teaching python"
print(str01)
print("---upper")
print(str01.upper())
print("--lower")
print(str01.lower())
print("--swapcase")
print(str01.swapcase())
print("--title")
print(str01.title())
print("--capitalize")
print(str01.capitalize())
print("\n")
str5="     This is vineela     "
print(str5)
print("--strip")
print(str5.strip())
print("--lstrip")
print(str5.lstrip())
print("--rstrip")
print(str5.rstrip())
print("\n")

\INDEXING
V
i


\SLICING
Vaishnavi
aishnavi
Vais
hnav
Viha


\REV STRING
ivanhsiaV


\STRING OPERATIONS
superwoman
supersuper


\STRING METHODS
VINEELA BAISA
vineela baisa
vINEELA bAISA
VINEELA BAISA
Vineela Baisa


ORIGINAL
gradStellar is teaching python
---upper
GRADSTELLAR IS TEACHING PYTHON
--lower
gradstellar is teaching python
--swapcase
GRADsTELLAR IS TEACHING PYTHON
--title
Gradstellar Is Teaching Python
--capitalize
Gradstellar is teaching python


     This is vineela
--strip
This is vineela
--lstrip
This is vineela
--rstrip
     This is vineela

3.Implement the methods of tuple with examples.

In [ ]:
#TUPLESS
t=(1,2,3,4)
t1=("hii",1.5)

#indexing
print("--INDEXING")
print(t1[0])

#tuple methods
print("--TUPLE METHODS--")
print("--COUNT")
print(t1.count(1))
print(t.index(2))
print("--MAX & MIN")
print(max(t))
print(min(t))
print("--LENGTH")
print(len(t1))

--INDEXING
hii
--TUPLE METHODS--
--COUNT
0
1
--MAX & MIN
4
1
--LENGTH
2

2.Implement the methods of List with examples

In [ ]:
#LIST
my_list=[1,"hollaa",9.1]

#indexing
print(my_list[1])

#slicing
print(my_list[1:2])

#nested list

n_list=["helloo",[1,9.1]]
print(n_list[0][1])
print(n_list[1][1])

#list methods
l1=[1,2,3]
l1.append(4)
print(l1)

l1.extend([5,6,7,8])
print(l1)

l2=[21,52,12,29,52,36,95,41,52]
print("--COUNT")
print(l2.count(52))
print(len(l2))
print("--REVERSE")
l1.reverse()
print(l1)
print("--SORT")
l1.sort()
print(l1)
print("--APPEND")
l1.append(l2)
print(l1)
print("--DEL")
del l2[3]
print(l2)
del l2[0:2]
print(l2)
print("--REMOVE")
l2.remove(41)
print(l2)
print("--POP")
l2.pop()
print(l2)
print("--CLEAR")
l2.clear()
print("list elements:",l2)

hollaa
['hollaa']
e
9.1
[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8]
--COUNT
3
9
--REVERSE
[8, 7, 6, 5, 4, 3, 2, 1]
--SORT
[1, 2, 3, 4, 5, 6, 7, 8]
--APPEND
[1, 2, 3, 4, 5, 6, 7, 8, [21, 52, 12, 29, 52, 36, 95, 41, 52]]
--DEL
[21, 52, 12, 52, 36, 95, 41, 52]
[12, 52, 36, 95, 41, 52]
--REMOVE
[12, 52, 36, 95, 52]
--POP
[12, 52, 36, 95]
--CLEAR
list elements: []

4.Implement the methods of Dictionary with examples.

In [ ]:
z={"name":"VINNYBAISA","phn":7993176997,"age":19}
print("--DICT METHODS--")
print("--GET")
print(z.get("age"))
print(z['name'])
print("--KEYS")
print(z.keys())
print("--VALUES")
print(z.values())

--DICT METHODS--
--GET
19
VINNYBAISA
--KEYS
dict_keys(['name', 'phn', 'age'])
--VALUES
dict_values(['VINNYBAISA', 7993176997, 19])

5.Implement the methods of Set with examples.

In [ ]:
#SETSSS
print("SETS")
set1={1,2,3,4}
set2={1,2,3,"hi",(1,2,3)}

#convert list into set
print("--LIST INTO SET--")
l1=[1,3,5,7]
set3=set(l1)
print(set3)

print("--ADD")
set1.add(5)
print(set1)
print("--UPDATE")
set1.update([2,3,4])
print(set1)
print("--DISCARD")
set1.discard(3)
print(set1)
print("--REMOVE")
set1.remove(4)
print(set1)

#set operations
print("--SET OPERATIONS--")
a={1,2,3,4,5}
b={4,5,6,7,8}
print("--UNION")
print(a|b)
print(a.union(b))
print("--INTERSECTION")
print(a&b)
print(a.intersection(b))
print("--DIFFERENCE")
print(a-b)
print(a.difference(b))

SETS
--LIST INTO SET--
{1, 3, 5, 7}
--ADD
{1, 2, 3, 4, 5}
--UPDATE
{1, 2, 3, 4, 5}
--DISCARD
{1, 2, 4, 5}
--REMOVE
{1, 2, 5}
--SET OPERATIONS--
--UNION
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
--INTERSECTION
{4, 5}
{4, 5}
--DIFFERENCE
{1, 2, 3}
{1, 2, 3}

6.Write a python program to convert Decimal to Binary, Octal and Hexadecimal with direct method.

In [ ]:
#let decimal value be 986
dec=986
print("DECIMAL VALUE IS {}".format(dec))
print("--BINARY")
print(bin(dec))
print("--OCTAL")
print(oct(dec))
print("--HEXADECIMAL")
print(hex(dec))

DECIMAL VALUE IS 986
--BINARY
0b1111011010
--OCTAL
0o1732
--HEXADECIMAL
0x3da

7.Implement Arithmetic operators with examples.

In [ ]:
#arithmetic operators
a=9
b=3
print("--ADD")
print(a+b)
print("--SUB")
print(a-b)
print("--MUL")
print(a*b)
print("--DIV")
print(a/b) #WITH FLOAT VALUE
print(a//b)#WITHOUT FLOAT VALUE
print("--MOD DIV")
print(a%b)
print("--POWER")
print(a**b)

--ADD
12
--SUB
6
--MUL
27
--DIV
3.0
3
--MOD DIV
0
--POWER
729

8.Implement Assignment operators with examples.

In [ ]:
a=23
c=16
print("--ADD")
c+=a
print(c)
print("--SUB")
c-=a
print(c)
print("--MUL")
c*=a
print(c)
print("--DIV")
c/=a
print(a/b) 
print("--MOD DIV")
c%=a
print(c)
print("--POWER")
c**=a
print(c)

--ADD
39
--SUB
16
--MUL
368
--DIV
7.666666666666667
--MOD DIV
16.0
--POWER
4.951760157141521e+27

9.Implement Comparison operators with examples.

In [ ]:
#comparision operators
a = 2
b = 1
print("--EQUAL")
if ( a == b ):
   print("true")
else:
   print("false")
print("-- NOT EQUAL")
if ( a != b ):
   print("true")
else:
   print("false")
print("--LESSER")
if ( a < b ):
  print("true")
else:
   print("false")
print("--GREATER")
if ( a > b ):
  print("true")
else:
   print("false")
print("--LESS OR EQUAL")
if ( a <=b ):
  print("true")
else:
   print("false")
print("--GREATER OR EQUAL")
if ( a >= b ):
  print("true")
else:
   print("false")

--EQUAL
false
-- NOT EQUAL
true
--LESSER
false
--GREATER
true
--LESS OR EQUAL
false
--GREATER OR EQUAL
true

10.Implement Logical operators with examples

In [ ]:
x=True
y=False
print("--AND")
print("x and y is",x and y)
print("--OR")
print("x or y is",x or y)
print("--NOT")
print("x not is",not x)

--AND
x and y is False
--OR
x or y is True
--NOT
x not is False

11.Implement Bitwise operators with examples.

In [ ]:
#bitwise operators
a=15
B=20
print("--AND")
print(a&b)
print("--AXOR")
print(a^b)
print("--OR")
print(a|b)
print("--NOT")
print(~a)
print("--R SHIFT")
print(a>>2)#right shift
print("--L SHIFT")
print(a<<4)#left shift

--AND
1
--AXOR
14
--OR
15
--NOT
-16
--R SHIFT
3
--L SHIFT
240

12.Implement Membership operators with example.

In [ ]:
x="Hello"
y={1:'a',2:'b'}
print('H' in x)
print(1 in y)
print('a'in y)

True
True
False

13.Implement Identity operators with examples.

In [ ]:
x1=2
y1=2
x2="HII"
y2="HII"
x3=[1,2,3]
y3=[1,2,3]
print("--IS NOT")
print(x1 is not y1)
print("--IS")
print(x2 is y2)
print(x3 is y3)

--IS NOT
False
--IS
True
False

14.Demonstrate Negative indexing for List and apply slicing.

In [ ]:
#LIST
l1=[1,2,3,4]
l2=[9.1,"hii",2]
l3=['H','E','L','L','O']
#indexing
print("--INDEXING")
print(l1[2])
print(l2[1])
print(l3[4])
#slicing
print("--SLICING")
print(l1[1:3])
print(l3[::-1])
print(l2[0:2:1])

--INDEXING
3
hii
O
--SLICING
[2, 3]
['O', 'L', 'L', 'E', 'H']
[9.1, 'hii']

15.Predict the output for the given code snippet and justify the result.

In [20]:
print('A series of characters designated as one object known as a string'[::-1][4::3])
print("--------------------------")
print('Welcome to python traing program'[3:10][::-1])

#str1----->initially it will reverse the string then it will start from 4th index will skip with step value 3 nd print
#-------------------------------------------------------------
#str2------>initilly it will strat from 3rd index untill 10th nd then reverse

taawkcbe  tgestrcoeeA
--------------------------
ot emoc

16.Write a python code to get desired output .

In [22]:
str=input("enter a string:  ")
print(str)
str1=str[::-1]
print(str1.upper())

enter a string:  was it a car or a cat I saw
was it a car or a cat I saw
WAS I TAC A RO RAC A TI SAW

17.You are required to generate a word similar to ZOO, X and Y that denote the number of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. Input X= 2 Output ZZOOOO Input X= 5 Output ZZZZZOOOOOOOOOO

In [24]:
x=int(input("enter number"))
print("the value of x is {}".format(x))
y=x*2
print("the value of x is {}".format(y))
#print('Z'*x"+"'O'*y)
print("Z"*x,"O"*y,sep='')

enter number4
the value of x is 4
the value of x is 8
ZZZZOOOOOOOO